[Unit]
Description=Proxy Server
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/system/bin/pdnsd

[Install]
# WantedBy=multi-user.target
